<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú - Lista de MIAUS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <!-- Barra superior con búsqueda, opciones y usuario -->
    <header>
      {% include 'topbar.html' %}
    </header>

    <!-- Contenido principal: lista de empleados y filtros -->
    <main>
      <div class="content">
        <!-- Lista de empleados -->
        <section class="employee-list">
          <h2>Lista de Miau</h2>
          <ul id="employees">
            <li>miau</li>
            <li>se vienen cositas...</li>
            <!-- Aquí irán más empleados que se cargarán desde la base de datos -->
          </ul>
        </section>

        <!-- Filtros -->
        <aside class="filters">
          <h3>Filtros</h3>
          <label for="filter-role">Miaus:</label>
          <select id="filter-role">
            <option value="">Todos los Miaus</option>
            <option value="Supervisor">MIAU 1</option>
            <option value="Practicante">MIAU 2</option>
            <!-- Más cargos que vendrán de la base de datos -->
          </select>

          <label for="filter-department">Guaus:</label>
          <select id="filter-department">
            <option value="">Todos los Guaus</option>
            <option value="Finanzas">Guau 1</option>
            <option value="eCommerce">Guau 2</option>
            <!-- Más departamentos que vendrán de la base de datos -->
          </select>

          <label for="filter-training">Moos:</label>
          <select id="filter-training">
            <option value="">Todos los Moos</option>
            <option value="Capacitacion 1">Moo 1</option>
            <option value="Capacitacion 2">Moo 2</option>
            <!-- Más capacitaciones que vendrán de la base de datos -->
          </select>

          <button id="apply-filters">Aplicar Filtros</button>
        </aside>
      </div>
    </main>
  </body>
</html>
