<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Wiki</title>
</head>
<body class="bg-gray-100 flex flex-col items-center">

    <!-- Main Title -->
    <h1 class="text-4xl mt-6 text-green-700">
        Wiki
    </h1>
    
    <!-- Search Bar Section -->
    <div class="flex justify-center mt-6">
        <form method="get" action="{{ url_for('wiki') }}" class="flex">
            <input type="text" id="search" name="search" placeholder="Search..." value="{{ request.args.get('search') }}" class="border rounded p-3 w-1/2 shadow-lg">
            <button type="submit" class="ml-2 p-3 bg-green-700 text-white rounded shadow-lg hover:bg-green-800 transition-all duration-200">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
    
    <!-- Plant List Section -->
    <div class="flex flex-col items-center mt-8 w-full max-w-3xl space-y-6">
        {% for plant in plants %}
        <div class="bg-white p-5 rounded-lg shadow-lg hover:shadow-2xl transition-all duration-200 w-full">
            <a href="{{ url_for('plant_detail', plant_id=plant.id) }}" class="text-lg font-semibold text-green-700 hover:text-green-900">
                <div class="flex items-center space-x-4">
                <!-- Image Section with smaller size -->
                {% if plant.id == 1 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 01.jpeg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 2 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 02.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 3 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 03.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 4 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 04.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 5 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 05.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 6 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 06.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 7 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 07.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 8 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 08.jfif') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 9 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 09.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 10 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 10.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% elif plant.id == 11 %}
                    <img src="{{ url_for('static', filename='images/PlantWithID - 11.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% else %}
                    <img src="{{ url_for('static', filename='images/daily_plant.jpg') }}" alt="{{ plant.nombre_comun }}" class="w-12 h-12 rounded-full">
                {% endif %}
                    
                    <!-- Plant Names Section -->
                    <div>
                        <div class="text-xl">{{ plant.nombre_comun }}</div>
                        <div class="text-sm text-gray-600 mt-1">{{ plant.nombre_cientifico }}</div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>

    {% include 'bottomNavigationMenu.html' %}
</body>
</html>
